doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Develop Denver Hackathon
    // Normalize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    // Bootstrap
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans|Oswald|Yrsa', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='style-pawel.css')
  body
    // Navigation Bar
    header
      h1 Poppycock
      h2 A Mysteriously Deceiving Chat 
    section#nickname-wrap
      //- container
      form#set-nickname
        label#pick-nickname-text(for='nickname')  Nickname 
        input#nickname(type='text', name='nickname', placeholder='Enter Name Here If You Dare!')
        button(type='submit')  Join Chat 
    #content-wrap.container
      #chat-wrap.row.col-lg-8.col-md-8
        #chat
        // send messages form/input
        form#send-message
          label.control-label(for='message') Send Messages Below!
          input#message.form-control
          br
          input.btn.btn-success.pull-right(type='submit')
      .jumbotron.pull-right.chat-jumbo
        h3 Users Online: 
        h5#users
    // Javascript    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='script.js')
